<section id="container" class="hidden">
  <div id="question">
    <p id="direction"></p>
    <p id="question_sentense"></p>
  </div>
  <ul id="choices">
  </ul>
</section>


<section id="result" class="hidden">
  <p></p>
  <div id="replayBtn">Replay?</div>
  <a href="" id="exitBtn">exit</a>
</section>

<section id="answer" class="hidden">
  <h2 id="Correct_or_Wrong"></h2>
  <p id="correctAnswer"></p>
  <p id="detail"></p>
  <div id="nextBtn" class="btn"></div>
</section>
