<div class="container delete">
  <div class = "row">
    <div class = "col-4 offset-md-4 my-4">
      <h2>本当に退会しますか？</h2>
    </div>
    <div class = "col-6 offset-md-3 mb-4 text-center">
      <p>
        退会すると、会員登録情報や<br/>
        これまで作成した問題は全て削除されます<br/>
        退会する場合は、「退会する」をクリックしてください。<br/>
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row my-1">
       <div class="col-2 offset-md-4 mr-4">
        <%=link_to"退会しない", users_path ,class:"btn" ,data: {"turbolinks"=>false}  %>
      </div>
      <div class="col-2">
        <%=link_to"退会する",user_path(current_user) ,method: :delete,class:"btn btn-sm text-white text-center" , data: {confirm: "本当に退会しますか？"} %>
      </div>
  </div>
</div>