<div class="jumbotron jumbotron-extend">
    <div class="container">
        <div class = "row">
          <div class = "col-3">
            <h1 class = "title">SOLVE</h1>
          </div>
        </div>
        <div class = "row my-4">
          <div class = "col-3 text-white">
            <h1 class = "text-white">解けば解る</h1>
          </div>
        </div>
        <div class = "row my-4">
          <div class = "col-5 text-white">
            <h1 class = "text-white">さあ、試してみよう</h1>
          </div>
          <div class="d-grid col-1 ">
            <button type="button" class="btn btn-warning btn-lg">
              <i class="far fa-lightbulb"></i>
            </button>
          </div>
        </div>
        <%= link_to 'ログイン', new_user_session_path , class: "btn btn-warning btn-lg"%>
        <%= link_to '新規登録', new_user_registration_path ,class: "btn btn-warning btn-lg"%>
    </div>
</div>