<div class="container setquiz">
    <div class="row my-5">
       <h2>New Post</h2>
    </div>

    <%= form_with model:@post, url:posts_path, local: true do |f| %>
     <div class="row my-4">
       <div class="col-3 mr-0">
          <p>つぶやき</p>
       </div>
       <div class="col-7">
          <%= f.text_area :content, autofocus: true , placeholder: "例）英検対策で作ってみました！！", class: "form-control"%>
       </div>
     </div>
     <div class="row my-4">
       <div class="col-3 mr-0">
          <p>ジャンル</p>
       </div>
       <div class="col-7">
          <%= f.select :genre, [["単語", "単語"], ["文法", "文法"]], include_blank: "選択して下さい" %>
       </div>
     </div>
     <div class="row">
       <div class="col-4 mx-auto">
          <%= f.submit "問題作成へ" ,class: "btn"%>
          <% end %>
       </div>
     </div>

</div>

