/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

header {
	/*Strictly Necessary */
	position: fixed;
	width: 75%;
	height: 100px; /*Adjust the hight to your purposes*/
	background: white;
	border-radius: 7px;
}

#rightSideWrapper {
	/*Strictly Necessary */
	width: 75%;
	float: right;

}

.ContentBox{
	margin-top: 100px; /*The height of the   header*/
	display: flex;
	flex-flow: row wrap;
}
.jumbotron-extend {
    position: relative;
    height: 100vh;
    min-height: 300px;
    min-height: 300px;
    background: url(bulb.jpg) no-repeat center center;
    background-size: cover;
}

.title{
    font-size: 100px;
    color: white;
    margin-bottom: 20px;
}
.nav-link{
  font-size: 20px;
}

.side-bar {
	/*Strictly Necessary */
	position:fixed;
	height: 100%;
	width: 20%;
	margin: 0px;

  /*Aesthetics*/
  // background: lightblue;
  border-radius: 7px;
}

body {
  /*Strictly Necessary */
  flex: 0 1 100%;

}
.makeBtn{
  margin: 30px auto;
}

.btn{
  line-height: 50px;
  height: 50px;
  width: 80px;
  text-align: center;
}

