/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans',YuGothic,'Yu Gothic','Arial', sans-serif;

}
body,html{
  height: 100%;
}
.home-wrap {
    position: relative;
    height: 100vh;
    min-height: 300px;
    min-height: 300px;
    background: url(bulb.jpg) no-repeat center center;
    background-size: cover;
    padding: 100px;
}
.solve{
  font-size: 70px;
}
.devise{
  background-color: #C2EEFF;
  margin: 50px;
}
.form-control{
  width: 100%;
}

header {
	/*Strictly Necessary */
	position: fixed;
	width: 100%;
	height: 85px; /*Adjust the hight to your purposes*/
	background: white;
	z-index: 1000;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	padding-left: 5%;

}
.sidebar-head{
  position: relative;
  display: flex;
  margin: 3% auto;
}
.name{
position: absolute;
top: 50%;
left: 50%;
-webkit-transform : translate(-50%,-50%);
transform : translate(-50%,-50%);
margin-left: 5%;
font-size: 20px;
}
.add-question{
  position: fixed;
  top: 80%;
  right: 5%;
  color: black;
}
.navbar-nav{
  margin-left: auto;
}

#rightSideWrapper {
	/*Strictly Necessary */
	width: 75%;
	float: right;
	min-height: 100%;
	background: #C2EEFF;
}


.side-bar {
	/*Strictly Necessary */
	position:fixed;
	height: 100%;
	width: 25%;
	margin: 0px;
	margin-top: 85px;
  padding: 3%;
  /*Aesthetics*/
  background: #F8F8FF;
  border-radius: 7px;
}

body {
  /*Strictly Necessary */
  flex: 0 1 100%;

}
.makeBtn{
  margin: 30px auto;
}

.btn {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  background-color: #FFCC33;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 10px;
  border-bottom: 4px solid #d37800;
}

.btn:active {
    transform: translateY(4px);
    border-bottom: none;
}

.question_list.hidden{
  transform: translateY(-3000px);
}
.question_list{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2000;
  // display: none;
}
#container {
  width: 400px;
  margin: 8px auto;
  background: #fff;
  border-radius: 4px;
  padding: 16px;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3000;
}
.container.hidden {
  transform: translateY(-1500px);
}
#question > p:nth-of-type(1){
  padding-left: 10px;
}
#question {
  margin-bottom: 16px;
  font-weight: bold;
  min-height: 300px;
  border: 2px solid #ccc;
  border-radius: 4px;
  position: relative;
}
#question > p:nth-of-type(2){
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  width: 100%;
  text-align: center;
}

#choices {
  list-style: none;
  padding: 0;
  margin-bottom: 16px;
  text-align: center;
}

#choices > li {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

#choices > li:hover {
  background: #f8f8f8;
}


#btn,#replayBtn {
  background: #3498db;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 0 #2880b9;
}
#startBtn {
  background: #3498db;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 0 #2880b9;
  width: 120px;
  height: 30px;
}
#exitBtn {
  background: red;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  color: #fff;
}



#result {
  position: absolute;
  width: 400px;
  height: 400px;
  background: #fff;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  top: 100px;
  /* 絶対配置ではmargin: auto;だけではだめで、left: 0;、right: 0が必要 */
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 4px;
  text-align: center;
  transition: 0.4s;
  z-index: 6000;
}
#answer {
  position: absolute;
  width: 400px;
  background: #fff;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  top: 200px;
  /* 絶対配置ではmargin: auto;だけではだめで、left: 0;、right: 0が必要 */
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 4px;
  text-align: center;
  min-height: 400px;
  z-index: 4000;
  /* transition: 0.4s; */
}
#final-answer {
  position: absolute;
  width: 400px;
  background: #fff;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  top: 200px;
  /* 絶対配置ではmargin: auto;だけではだめで、left: 0;、right: 0が必要 */
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 4px;
  text-align: center;
  min-height: 400px;
  z-index: 5000;
  /* transition: 0.4s; */
}

#result.hidden {
  transform: translateY(-1500px);
}
#answer.hidden {
  transform: translateY(-800px);
}

#final-answer.hidden {
  transform: translateY(-4000px);
}

#result > p {
  font-size: 24px;
}

#result > a {
  display: block;
  text-decoration: none;
}
.recommend-users{
  margin-top: 100px;
  text-align: center;
}
.eachPost{
  width: 70%;
  border: 2px solid #ccc;
  margin: 5% auto;
  background: #fff;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}
.post-wrapper{
  min-height: 200px;
  margin: 0 auto;
  background: #fff;
  border-radius: 4px;
  padding: 16px;

  // z-index: 100;
}
.eachPost:first-child{
   margin-top: 120px;
 }
.postedContent{
  min-height: 60px;
  font-size: 20px;
  padding: 10px;
  margin: 10px auto;

}
.postedGenre{
  margin: 0 auto;
  font-size: 20px;
}
.post-head{
  display: flex;
  flex-direction: row;
}
.userName{
  font-size: 20px;
  color: black;
}
.userImg{
  margin-left: 0;
  margin-right: 5%;
}
.postedDate{
  margin-left: auto;
}
.post-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.commentBtn{
  cursor: pointer;
  display: flex;
}
.comment-list{
  margin: 0 auto;
  background: #fff;

}
.comment-head{
  display: flex;
}
.comment-box{
  padding: 3%;
  margin: 3%;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
}
.comment-footer{
  display: flex;
  justify-content: flex-end;
}
.comment-text{
  margin: 5% auto;
}
.comment-user-name > a{
  margin: 0 30px;
  width: 70%;
  color: black;
}
.input-area{
  width: 80%;

}
.fa-lg{
  color: black;
}
.likes-amount > a{
  color: black;
}
.likesInPost{
  display: flex;
}
.setquiz{
  margin: 150px auto;
}
#hm-icon {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 10;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
}
.menu-trigger span:nth-child(1) {
  top: 0;
}
.menu-trigger span:nth-child(2) {
  top: 20px;
}
.menu-trigger span:nth-child(3) {
  bottom: 0;
}
.menu-trigger.active span:nth-child(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
  background-color: #000;
}
.menu-trigger.active span:nth-child(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-child(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
  background-color: #000;
}


#sp-menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  color: white;
  width: 30%;
  display: none;
  z-index: 9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#sp-menu li {
  text-align: center;
  margin: 20%;
  list-style: none;
}
#sp-menu a {
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

#rank-wrap{
  width: 90%;
  max-width: 800px;
  margin: 100px;
}
#tab-menu {
  display: flex;
  margin-bottom: 0;
}

#tab-menu li {
  list-style-type: none;
  width: 25%;
}

#tab-menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  background: #000;
  border: 1px solid #000;
  border-bottom: none;
}

#tab-menu .active {
  background: #fff;
  color: #000;
}

#tab-contents {
  display: flex;
  flex-wrap: wrap;
}

#tab-contents .tab {
  width: 100%;
  padding: 30px;
  background: #fff;
  border: 1px solid #000;
  border-top: none;
}

#tab-contents p {
  color: #000;
  line-height: 2.5;
}
.weekly_tango_likes{
  display: flex;
}