// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.likes-amount > a{
  color: black;
}

.fas.fa-heart{
  color: #FF66FF;
  margin-left: 3%;
}
